%li{"data-theme" => "c"}
  %fieldset{:class=>"ui-grid-c"}
    %div{:class =>"ui-block-a", :style => "width: 10%"}
      = image_tag(item.icon.url(:default), :class => "ui-li-thumb")
    %div{:class=>"ui-block-b", :style => "width: 60%"}
      %h3.ui-li-heading= item.name
      %p.ui-li-desc= truncate(item.description, :length => 50)
    %div{:class=>"ui-block-c", :style => "width: 10%"}
      %h3.ui-li-heading= item.try(:category).try(:name)
    %div{:class=>"ui-block-d", :style => "width: 10%"}
      = link_to image_tag("viewinitunes_en.png"), item.app_store_url
      %br
      %fieldset{:class=>"ui-grid-c"}
        %div{:class =>"ui-block-a", :style => "width: 30%"}
        %div{:class =>"ui-block-b", :style => "width: 10%"}
          = format_price(item.price)
