= title "#{current_developer.name}'s dashboard"
=# header do
=# link_to 'Add', new_app_path, "data-icon" => "plus", "class" => "ui-btn-right"
- if developer_signed_in?
  %div{"data-role"=>"navbar"}
    %ul
      %li= link_to 'Profile', edit_developer_registration_path(current_developer), "data-icon" => "plus"
      %li= link_to 'Register App', new_developer_app_path(current_developer), "data-icon" => "arrow-r"
      %li= link_to 'My Apps', developer_apps_path(current_developer), "data-icon" => "arrow-r"

%ul{"data-role"=>"listview", "data-inset"=>"true", "data-theme"=>"d"}
  %li{"data-role"=>"list-divider", :role=>"heading"} SDK Download
  %li=link_to "SDK_v_1.0", sdk_download_path, "data-ajax" => false


%ul{"data-role"=>"listview", "data-inset"=>"true", "data-theme"=>"d"}
  %li{"data-role"=>"list-divider", :role=>"heading"} Statisticses
  %li=link_to "Average Age For my apps 7 days prior to today", statisticses_path(:typee => "average_age")
  %li=link_to "Most Gender For my apps 1 day ago", statisticses_path(:typee => "most_gender")
  %li=link_to "Active Amount For my apps 7 days prior to today", statisticses_path(:typee => "active_amount")


- if developer_signed_in?
  %ul{"data-role"=>"listview", "data-inset"=>"true", "data-theme"=>"d"}
    %li{"data-role"=>"list-divider", :role=>"heading"} Operate
    %li=link_to "Change Download Setting", edit_developer_path(current_developer), "data-ajax" => false
    %hr
    %li=link_to "Sign out", quit_path, "data-ajax" => false


