#logo.logo
  KittyPad
#global_navigation.global_navigation
  %ul.user_action.clearfix
    - if parent_signed_in?
      %li.logout
        = link_to t('Logout'), destroy_parent_session_path
      %li.welcome
        %span
          Welcome
          %span.username
            = link_to t('Obama'), edit_parent_registration_path
    - else
      %li.login
        = link_to t('Sign In'), new_parent_session_path
      %li.signup
        = link_to t('Sign Up'), new_parent_registration_path
  %ul.global_action.clearfix
    %li
      %a
        Support
    %li.selected
      = link_to "SDK Download", "/robots.zip"
    %li
      %a
        Features
    %li
      %a
        Analysis
-##global_navigation
-#  = link_to "Follow us on Twitter", "http://twitter.com/#!/educationforfun"
-#  = link_to "Follow us on Facebook", "http://www.facebook.com/people/Kitty-Pad/100002436698178"
