- if parent_signed_in? && current_child.present?
  %h3= current_child.fullname

  %ul
    %li.title Game Applications
    %li= link_to 'All', game_parent_child_path(current_child)
    - current_parent_game_applications.each do |game_application|
      %li
        = link_to game_application.name, parent_game_application_path(game_application)
        = link_to 'analytics', game_parent_analytic_path(game_application), :class => 'analytics'
    %li.title Education Applications
    %li= link_to 'All', education_parent_child_path(current_child)
    - current_parent_education_applications.each do |education_application|
      %li
        = link_to education_application.name, parent_education_application_path(education_application) 
        = link_to 'analytics', education_parent_analytic_path(education_application), :class => 'analytics'


  - other_children.each do |child|
    %h3= link_to child.fullname, parent_root_path(:child_id => child.id), :class => 'child'
