- if parent_signed_in? #&& current_child.present?
  %h3= "Game Application"

  %ul
    %li.title
      Game Applications Analytics
    - current_parent_game_applications.each do |game_application|
      %li= link_to game_application.name, parent_analytic_path(game_application)
      = link_to 'All', parent_child_path(current_child)
      Game Applications
    - current_parent_game_applications.each do |game_application|
      %li= link_to game_application.name, parent_game_application_path(game_application) 
    %li.title Education Applications
    - current_parent_education_applications.each do |education_application|
      %li= link_to education_application.name, parent_education_application_path(education_application)

  - other_children.each do |child|
    %h3= link_to child.fullname, parent_root_path(:child_id => child.id), :class => 'child'
