<li>
  <div>
    <hr/>
  </div>
  <div>description:<%= app.description %></div>
  <div>max_score:<%= app.max_score %></div>
  <div>rating:<%= app.rating %></div>
  <div>screen shot:<%= image_tag app.screenshot.url %></div>
  <div>form <%= app.start_age %> to <%= app.end_age %> age</div>
  <div>click times: <%= app.click_times %>  </div>
  <div>app store url: <%= app.app_store_url %>  </div>
</li>