<h3><%=app.name%></h3>
<div class="games-ct cf">
  <div class="left">
    <div><%= image_tag app.screenshot.url %></div>
    <div class="money">$0.00</div>
    <dl>
      <% if app.client_application_category %>
      <dt>Skills developed</dt>
      <dd><%=app.client_application_category.name%></dd>
      <% end %>
      <dt>Type</dt>
      <dd><%=app.type%></dd>
      <dt>Age group</dt>
      <dd> <%= app.start_age %>-<%= app.end_age %> years</dd>
      <% if app.click_times and app.click_times > 10 %>
      <dt>click times</dt>
      <dd> <%= app.click_times %></dd>
      <% end %>
      <dt><a href="javascript:click_app('<%= app.app_store_url %>','<%= click_forum_app_center_path(app) %>')">app store</a></dt>
     <!-- <dt>Customer rating</dt>
      <dd><img src="/images/star.gif"></dd> -->
    </dl>
  </div>
  <div class="right">
    <h4>Description</h4>

    <div class="right-ct">
      <p><%= app.description %></p>
    </div>
  </div>
</div>