- simple_form_for [:forum, @topic] do |form|
  = form.input :forum_id, :as => :hidden, :input_html => { :value => "#{params[:forum_id]}" } 
  = form.input :title
  = form.input :content, :as => :text
  - if current_user && current_user.has_role?(:admin)
    %p
      = form.input :sticky, :as => :boolean
      = form.input :position, :hint => "Only Sticky Topics"
    %p
      = form.input :locked, :as => :boolean


  .buttons= form.button :submit