%tr
  %td.td-ct
    %p
      = link_to nm_item.title, forum_forum_topic_path(@forum, nm_item)
      %span.f-icon

    %p
      = nm_item.forum_user.name
      - if (current_user && current_user.name == nm_item.forum_user.name)
        %span
          = link_to "Edit", edit_forum_forum_topic_path(@forum, nm_item)
          =# link_to 'Destory', forum_forum_topic_path(@forum, nm_item), :method => :delete, :confirm => "Are you sure?"
  %td.num
    = nm_item.posts_count
  %td.num.views
    = nm_item.hits