.thread
  .thread-ct
    - if @topic.locked?
      %h4 Comment be closed.
    - else
      = simple_form_for @post, :url => forum_topic_posts_path(@topic)  do |form|
        = form.input :topic_id, :as => :hidden, :label_html => { :value => "#{params[:id]}" }
        = form.input :content, :as => :text, :label_html => {:col => 20, :raw => 10}
        .buttons= form.submit 'Reply'

= paginate @posts ,:theme=>"forum"

