%tr
  %td
    %p
      %strong Stricky:
      = link_to sticky_item.title, forum_forum_topic_path(@forum, sticky_item)
    %p.author
      = sticky_item.forum_user.name
      - if (current_user.name == sticky_item.forum_user.name)
        %span
          = link_to "Edit", edit_forum_forum_topic_path(@forum, sticky_item)
          =# link_to 'Destory', forum_forum_topic_path(@forum, sticky_item), :method => :delete, :confirm => "Are you sure?"

  %td.num
    = sticky_item.posts_count
  %td.num.views
    = sticky_item.hits