- content_for :title do
  = Forum.find(params[:forum_id]).name

.forum
  .forum-top.cf
    = render 'new_thread'

  .forum-mid
    .zt
      %table{:width=>'100%', :cellpadding => '0', :cellspacing => '0'}
        %tr
          %th{:width => '740'}
          %th{:width => '130'} Replies
          %th Views
        = render :partial => "sticky_item", :collection => @sticky_topics
    .nm
      %table{:width=>'100%', :cellpadding => '0', :cellspacing => '0'}
        %tr
          %th{:width => '740'}
          %th{:width => '130'}
          %th
        = render :partial => "nm_item", :collection =>  @common_topics

      = paginate @common_topics, :outer_window => 3

  .forum-top.cf
    = render 'new_thread'
 
