- content_for :title do
  = "#{@topic.title} - "

.forum.forum-detail
  .forum-top.cf
    = paginate @posts ,:theme=>"forum"

  .forum-mid
    %div
      %table{:width => '100%', :cellpadding => '0', :cellspacing => '0'}
        = render :partial => "topic_content"
    
        - @posts.each_with_index do |post_item, index|
          %tr
            %th{:width => "193", :class => 'tm'}= format_time post_item.updated_at
            %th.pos= "##{index + 2}" 
      
          %tr
            %td.td-name
              %h3= post_item.forum_user.name
              .tx
                = image_tag("tx.gif")
              .when
                %ul
                  %li= "Joined: #{format_time post_item.forum_user.created_at}"
                  %li= "Location: USA"
                  %li= "Posts: #{post_item.forum_user.posts_count + post_item.forum_user.topics_count}"
      
            %td.td-detail
              %h3= "Re: #{post_item.topic.title}"
              .details
                %p= post_item.content


  .forum-top.cf
    = render 'reply'

