= title "KittyPad - Home"


%div{"data-theme" => "c"}
  %fieldset{:class=>"ui-grid-c"}
    %div{:class =>"ui-block-a", :style => "width: 50%"}
      %div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
        %ul{"data-role"=>"listview", "data-inset"=>"true", "data-theme"=>"d"}
          %li{"data-role"=>"list-divider", :role=>"heading"} For Developers
          %li= link_to "Developer Sign up", new_developer_registration_path
          %li= link_to "Readme (for developers)", developer_page_path
    %div{:class=>"ui-block-b", :style => "width: 50%"}
      %div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
        %ul{"data-role"=>"listview", "data-inset"=>"true", "data-theme"=>"d"}
          %li{"data-role"=>"list-divider", :role=>"heading"} For Users
          %li= link_to "User Sign in", new_owner_session_path
          %li= link_to "FAQ", faq_path
          

%hr

%h3 Features of KittyPad SDK

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Group Purchase/Subscription Service
  %p open to all developers in the Kitty Pad family. The monthly service will be obtained as In-app purchases through any app partnered with KittyPad and allow access to all apps in the KittyPad umbrella.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Targeted Users
  %p users will choose your games because they have more to offer than just fun, but a promise of health protection.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Exchange Download
  %p cross promotion across other apps in the KittyPad SDK or just across your portfolio-you choose. Targeted users intuitively see links to your applications and can be linked to ITunes to download.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Data Reports
  %p you receive free periodic reports about your users: their average age, gender, and time that they spend using your applications.

%div{"data-role"=>"collapsible", "data-collapsed"=>"false", "data-theme"=>"a"}
  %h3 Free Promotion
  %p your applications will be promoted for free via recommendations on our website and within the in-app dashboard.
