%p Name
%p= @game_application.name

%p Category
%p= @game_application.category_name

%p Rating
%p= @game_application.rating

%p Identifier
%p= @game_application.identifier

%p Description
%p= @game_application.description

%p Key: #{@game_application.key}
%p Secret: #{@game_application.secret}

= link_to 'Edit', edit_dev_game_application_path(@game_application)
