= f.input :developer_id, :as => :hidden, :input_html => {:value => params[:developer_id], :name => "app[user_id]"}

%div{"data-role" =>"fieldcontain"}
  = f.input :name
%div{"data-role" =>"fieldcontain"}
  = f.input :description, :as => :text
%div{"data-role" =>"fieldcontain"}
  = f.input :price, :input_html => {:value => (@app.try(:price).blank? ? "0.00" : @app.try(:price))}
%div{"data-role" =>"fieldcontain"}
  %div.input.select.required
    %label.decimal.required.ui-input-text Category
    = select('app', 'category_id', grouped_options_for_select(get_categories_sub_collect, (@app.try(:category_id).blank? ? "" : @app.try(:category_id))), { :include_blank => "--please choose categories--" } )

%div{"data-role" =>"fieldcontain"}
  = f.input :rating, :input_html => {:type => "range", :id => "slider", :value => "0", :min => "2", :max => "12"}

%div{"data-role" =>"fieldcontain"}
  = f.input :support_device, :collection => ["iPad/iPhone", "iPad", "iPhone"], :include_blank => false
%div{"data-role" =>"fieldcontain"}
  %fieldset{"data-role"=>"controlgroup", 'data-type'=>"horizontal"}
    %legend
      Support Language
      %br
      (Default English)
    - support_language_options.each_with_index do |l,index|
      - if l[1] == 'en'
        %input{:type=>"checkbox", :name=>"app[language][#{l[1]}]", :value => "#{l[1]}", :id => "checkbox_#{index+1}", :checked => 'checked' }
      - else
        - if action_name == 'edit' && @app.try(:language).include?(l[1])
          %input{:type=>"checkbox", :name=>"app[language][#{l[1]}]", :value => "#{l[1]}", :id => "checkbox_#{index+1}", :checked => 'checked'}
        - else
          %input{:type=>"checkbox", :name=>"app[language][#{l[1]}]", :value => "#{l[1]}", :id => "checkbox_#{index+1}"}
      %label{:for=>"checkbox_#{index+1}"}= l[0]

%div{"data-role" =>"fieldcontain"}
  = f.input :app_store_url
%div{"data-role" =>"fieldcontain"}
  = f.input :icon, :as => :file
%div{"data-role" =>"fieldcontain"}
  = f.input :screenshot, :as => :file

