= title "App Info"

%div{"data-role" =>"fieldcontain"}
  %label App Name:
  %br
  = @app.name
%div{"data-role" =>"fieldcontain"}
  %label Description:
  %br
  = @app.description
%div{"data-role" =>"fieldcontain"}
  %label Price:
  %br
  = format_price(@app.price)
%div{"data-role" =>"fieldcontain"}
  %label Category:
  %br
  = @app.try(:category).try(:name)
%div{"data-role" =>"fieldcontain"}
  %label Rating:
  %br
  = "Age #{@app.rating}+"
%div{"data-role" =>"fieldcontain"}
  %label Support Device:
  %br
  = @app.support_device
%div{"data-role" =>"fieldcontain"}
  %label App iTunes URL:
  %br
  = @app.app_store_url
%div{"data-role" =>"fieldcontain"}
  %label ICON:
  %br
  = image_tag(@app.icon.url(:default))
%div{"data-role" =>"fieldcontain"}
  %label ScreenShot:
  %br
  = image_tag(@app.screenshot.url(:default))
%hr
%div{"data-role" =>"fieldcontain"}
  %label Key:
  %br
  = @app.key
%div{"data-role" =>"fieldcontain"}
  %label Secret:
  %br
  = @app.secret
