= title "App Info"

%div{"data-role" =>"fieldcontain"}
  %label App Name:
  %strong= @app.name
%div{"data-role" =>"fieldcontain"}
  %label Category:
  %strong= @app.try(:category).try(:name)
- if @app.rated
  %div{"data-role" =>"fieldcontain"}
    %label Rated:
    %strong= "#{@app.try(:rated)} +"
- if @app.support_device
  %div{"data-role" =>"fieldcontain"}
    %label Requirement:
    %strong= @app.support_device
- if @app.app_store_url
  %div{"data-role" =>"fieldcontain"}
    %label iTnues Url:
    %strong= @app.app_store_url
- if @app.price
  %div{"data-role" =>"fieldcontain"}
    %label Price:
    %strong= @app.price
- if @app.language
  %div{"data-role" =>"fieldcontain"}
    %label Languages:
    %strong= @app.language.join(', ')
- if @app.icon_path
  %div{"data-role" =>"fieldcontain"}
    %label ICON:
    = image_tag(@app.icon_path)
- if !@app.unite_pay.to_s.blank?
  %div{"data-role" =>"fieldcontain"}
    %label If Group purchases?
    %strong=  @app.unite_pay ? 'Yes' : 'No'

- if developer_signed_in? && @app.belong_to_current_developer?(current_developer)
  %hr
  %div{"data-role" =>"fieldcontain"}
    %label Key:
    %strong= @app.key
  %div{"data-role" =>"fieldcontain"}
    %label Secret:
    %strong= @app.secret
