- simple_form_for [:dev, @education_application] do |form|
  = form.input :name
  = form.association :client_application_category
  = form.input :identifier
  = form.input :description

  - if @education_application.key.present?
    = form.input :key, :input_html => {:disabled => true}
    = form.input :secret, :input_html => {:disabled => true}

  .buttons= form.button :submit
