- simple_form_for [:dev, @education_application], :html => {:multipart => true} do |form|
  = form.input :name
  = form.association :categories
  = form.input :identifier
  = form.input :description
  - if action_name == "edit"
    = form.input :start_age, :as => :select, :collection => (2..12)
    = form.input :end_age, :as => :select, :collection => (2..12)
    = form.input :icon
    = form.input :screenshot
    = form.input :app_store_url

  - if @education_application.key.present?
    = form.input :key, :input_html => {:readonly => true}
    = form.input :secret, :input_html => {:readonly => true}

  .buttons= form.button :submit
