%p Name
%p= @education_application.name

%p Category
%p= @education_application.category_name

%p Identifier
%p= @education_application.identifier

%p Description
%p= @education_application.description

= link_to 'Edit', edit_dev_education_application_path(@education_application)
