= title "Your Statistics Info"

- if @active_top10
  %div{"data-role" =>"fieldcontain"}
    = high_chart("my_id", @active_top10)

- if @categories_time_percent_weeks
  %div{"data-role" =>"fieldcontain"}
    = high_chart("categories_time_percent_weeks", @categories_time_percent_weeks)

- if @favorite_apps_week_trackers
  %div{"data-role" =>"fieldcontain"}
    = high_chart("favorite_apps_week_trackers", @favorite_apps_week_trackers)

- if @categories_time_percent_weeks
  %div{"data-role" =>"fieldcontain"}
    = high_chart("install_apps_day_trackers", @install_apps_day_trackers)

- if @average_age
  %div{"date-role" => "fieldcontain"}
    - high_chart("average_age", @average_age) do |c|
      =raw "options.tooltip.formatter = function() { return 'Average Age'+': '+ this.y +' ';}"

- if @most_gender
  %div{"date-role" => "fieldcontain"}
    - high_chart("most_gender", @most_gender) do |c|
      =raw "options.tooltip.formatter = function() { return 'Gender'+': '+ this.series.name + '<br/>' + this.point.name +' :' + this.y + 'Players';}"

- if @active_amount
  %div{"date-role" => "fieldcontain"}
    - high_chart("active_amount", @active_amount) do |c|
      =raw "options.tooltip.formatter = function() { return 'The Number of your app be installed'+': '+ this.y +' Players';}"