<% content_for :right do %>
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p class="input"><%= f.label :email %>
  <%= f.email_field :email %></p>

  <p class="input"><%= f.label :password %>
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p class="input"><%= f.label :remember_me %><%= f.check_box :remember_me %></p>
  <% end -%>

  <p class="buttons"><%= f.submit "Sign in", :class => "button" %></p>
<% end %>

<%= render :partial => "parent/shared/links" %>
<% end %>
