<div class="msg cf">

     <%= render :partial => 'nav' %>

     <div class="msg-right">
          <h3><%= session[:message_box] %><span class="n">(Total<%= Message.box_count(current_user, :box=>session[:message_box])%>,
            <em>Unread Messages</em><%= Message.box_count(current_user, :box =>session[:message_box], :read =>false)%>)</span></h3>
          <table width="718" cellpadding="0" cellspacing="0">
             <tr>
                <th colspan="5">
                  <span class="t0"><input type="checkbox"/><em></em></span>
                  <span><a href="#" class="t1">lete</a><a href="#" class="t2">fete</a><a href="#" class="t3">ete</a></span>
                  <span><%= button_to "Delete", "/forum/messages/delete", :id =>'delete_multi',
                                    :class => "t4", :method => :delete, :confirm => "Are you sure?",
                                    :onsubmit => "$('form.button_to').append('<input type=hidden name=\'ids\' value=\'$('input:checked').val()\'>);$('form.button_to').submit();"%></span>

                  <span><a href="#" class="t1">ete</a><a href="#" class="t2">ete</a><a href="#" class="t3">ete</a></span>
                  <span><a href="#" class="t4">Refresh</a></span>
                </th>

             </tr>
             <% if @messages %>
                <% for message in @messages %>
                    <tr>
                        <td class="ck"><input id="<%= message.id%>" name="message_checkbox" type="checkbox"/></td>
                        <td><span class="type-read <%= 't2' if message.read? %>"></span></td>
                        <td class="account"><%= message.sender.name %></td>
                        <td class="tit"><a href="/forum/messages/<%=message.id%>"><%= message.subject %><span class="gray">-<%= message.body[0..15] %>...</span></a></td>
                        <td><%= message.created_at.to_s(:db) %></td>
                    </tr>
                 <% end %>
             <% end %>

          </table>


        <div>
            <% if @messages %>
                <%= paginate @messages ,:theme=>"forum" %>
            <% end %>
        </div>


     </div>



</div>
