<% content_for :content do %>

    <% if flash[:error] %>
        <div class="error">
          flash[:error]
        </div>
    <% end %>

    <div>
      <%= simple_form_for :message, :url => forum_messages_path do |f| %>
        <%= f.input :recipient %>
        <%= f.input :subject %>
        <%= f.input :body %>
        <%= f.submit 'Send' %>
 
     <% end %>
    </div>
<% end %>