<% content_for :content do %>
  <h5>Mail Content</h5>
  <div><%=@message.sender.name %> to <%=@message.recipient.name%>,<%=@message.subject%></div>
  <div><%=@message.body%></div>
  <a href="/forum/messages/<%=@message.id%>/reply">reply</a>
  <%= link_to "Destroy", forum_message_path(@message), :method => :delete, :confirm => "Are you sure?" %>
<% end %>