!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"keywords", :content=> APPLICATION_CONFIG['meta_keywords'] }
    %meta{:name=>"description", :content=> APPLICATION_CONFIG['meta_description']}

    %title= "#{yield(:title)} KittyPad"
    
    = csrf_meta_tag
  %body
    %div{'data-role'=>"page"}
      %div{'data-role'=>"header"}
        %h1 KittyPad
      %div{'data-role'=>"content"}
        = yield
      %div{'data-role'=>"footer"}

    .footer
      = render '/layouts/shared/footer'
      = render '/google/analytics'
