!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"keywords", :content=> APPLICATION_CONFIG['meta_keywords'] }
    %meta{:name=>"description", :content=> APPLICATION_CONFIG['meta_description']}

    %title= "#{yield(:title)} KittyPad"
    = stylesheet_link_tag 'jquery.mobile.min.css', :media => 'screen'
    = javascript_include_tag :defaults
    = javascript_include_tag :highcharts
    /[if IE]
      = javascript_include_tag :ie_high_charts
    = csrf_meta_tag
  %body
    %div{'data-role'=>"page", 'data-theme'=>"c"}
      %div{'data-role'=>"header"}
        = render '/layouts/shared/header'
        %h1="#{yield(:title)}"
        = yield :header
          
      %div{'data-role'=>"content", :class=>"ui-content", :role=>'main'}
        = yield
      %div{'data-role'=>"footer"}
        = yield :footer
        = render '/layouts/shared/footer'
        = render '/google/analytics'
    