!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"keywords", :content=> APPLICATION_CONFIG['meta_keywords'] }
    %meta{:name=>"description", :content=> APPLICATION_CONFIG['meta_description']}
    /iPad Settings
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %meta{:name=>"apple-mobile-web-app-status-bar-style", :content=>"black-translucent"}
    %meta{:name=>"viewport", :content=>"user-scalable=no, initial-scale=1.0, width=device-width"}

    %meta{:name=>"og:tag name", :content=>"kittypad for childrens"}
    %meta{:name=>"og:site_name", :content=>"kittypad"}
    %meta{:name=>"og:title", :content=>"kittypad for childrens"}
    %meta{:name=>"og:image", :content=>"http://ia.media-imdb.com/rock.jpg"}
    %meta{:name=>"og:description", :content=>"A group of U.S. Marines, under command of ßßßweapons." }
    %meta{:name=>"fb:admins", :content=>"100002495395052" }

    %title= "#{yield(:title)} KittyPad"
    = stylesheet_link_tag 'reset.css', :media => 'screen'
    = stylesheet_link_tag 'common.css', :media => 'screen'
    = stylesheet_link_tag 'home.css', :media => 'screen'

    = javascript_include_tag :defaults

    = csrf_meta_tag
  %body
    .header.cf
      = render '/layouts/shared/header'

    .nav
      = render '/layouts/forums/forum_menu'

    .wrap
      .flash
        - flash.each do |name, msg|
          = content_tag :div, raw(msg), :id => "flash_#{name}"

      = yield

    .footer
      = render '/layouts/shared/footer'
      = render '/google/analytics'
